# Database
DATABASE_URL=postgresql://postgres:010206@localhost:5432/cloudapp

# JWT
SECRET_KEY=617f8083d593a517eac1da5102f53adbe1da5d57e91e0d27847e7dbb07943ac5
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# CORS
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000