# API Test Results

Testing dilakukan menggunakan **Swagger UI**
URL: http://localhost:8000/docs

---

## 1. GET /health

Endpoint untuk mengecek apakah API berjalan.

Screenshot hasil testing:

![Health Test](img/get-health.jpeg)

---

## 2. POST /items

Endpoint untuk membuat item baru di database.

Screenshot hasil testing:

![Post Item Test](img/post-items.jpeg)

---

## 3. GET /items

Endpoint untuk mengambil semua data item.

Screenshot hasil testing:

![Get Item Test](img/get-items.jpeg)

---

## 4. GET /items/stats

Endpoint untuk menampilkan statistik inventory.

Screenshot hasil testing:

![Get Item Stats Test](img/get-items-stats.jpeg)

---

## 5. GET /items/{item_id}

Endpoint untuk mengambil item berdasarkan ID.

Screenshot hasil testing:

![Get Item by ItemID Test](img/get-items-itemsid.jpeg)

---

## 6. PUT /items/{item_id}

Endpoint untuk memperbarui data item.

Screenshot hasil testing:

![Put Item Test](img/put-items.jpeg)

---

## 7. DELETE /items/{item_id}

Endpoint untuk menghapus item.

Screenshot hasil testing:

![Delete Item Test](img/delete-items.jpeg)

---

## 8. GET /team

Endpoint untuk menampilkan informasi tim.

Screenshot hasil testing:

![Get Team Test](img/get-team.jpeg)
